<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<appSettings>
		<add key="BootLoaderName" value="RA3"/> <!-- 好像是我用来标记是起义时刻还是RAAA还是KW还是TW的字段，没啥意义-->
		<add key="TargetEntryName" value="ra3.exe"/>  <!-- 入口文件，校验游戏是否有效要通过该文件来定位data\\里的big 你如果要是写ra3ep1.exe，把下面那个TargetGameNamePrefix的ra3_改成ra3ep1_， 版本写对了，你还真能去启动起义时刻的Mod咧！-->

		<!-- 这三个拼在一起凑成一个例子：ra3_1.12.game，如果你的Mod文件夹里有一个ra3_1.12.game，那么启动器会启动Mod文件夹的.game，记住这里需要一个Data文件夹存放自定义鼠标指针，不然进入游戏会没有鼠标-->
		<add key="GameRunver" value="1.12"/> <!-- 游戏运行版本，该配置也影响加载的skudef-->
		<add key="TargetGameNamePrefix" value="ra3_"/>  <!-- 游戏运行前缀-->
		<add key="TargetGameNameSuffix" value=".game"/>  <!-- 游戏运行后缀名-->
		

		<add key="GameSkudefLanguage" value="*"/> <!-- *代表任何语言的skudef都可以被载入，这是一种通配符的搜索方式-->
		<add key="ConfigurationArguments" value="-win"/>  <!-- 你可以从这里自定义添加args，也可以在调用这个程序的时候直接加入args传导到游戏运行程序，两种方式都可以-->

		<add key="LegcayModFolder" value="true"/>  <!-- 传统模组加载兼容CNCLauncher3，CNCLauncher3会自动选中一个.Mod的文件夹为主题Mod，所以FasterRunner应该和CNCLauncher3一样根目录里有个ModFolderName的文件夹，启动时会自动打开下面ModFolderName文件夹来加载mod，如果这个值写false，那么FasterRunner无视ModFolderName，会在同级目录寻找mod的skudef -->
		<add key="ModFolderName" value="Insurrection"/> <!-- 见上，如果为true，则FasterRunner会打开当前目录下的这个目录来寻找mod的skudef，如果为false，则FasterRunner在当前目录下寻找skudef，如果你需要CNCLauncher3一打开就加载默认Mod，你需要在这里写一个.Mod文件夹，例如"Insurrection.Mod"  -->
		<add key="ModSkudefName" value="Insurrection_1.0.skudef"/> <!-- 执行版本-->

		<add key="RegistryLocation" value="SOFTWARE\\Electronic Arts\\Electronic Arts\\Red Alert 3;SOFTWARE\\WOW6432Node\\Electronic Arts\\Electronic Arts\\Red Alert 3"/> <!-- 寻找游戏时候搜索的注册表地址 根据;分隔 -->
		<add key="RegistryValue" value="Install Dir;Folder"/> <!-- 寻找游戏时候搜索的注册表地址里的项目，从这些键读取数据 根据;分隔 -->
		<add key="ValidateGameFileNames" value="Apt.big;StaticStream.big;WBData.big;GlobalStream.big"/> <!-- \Data 里的big，FasterRunner启动后会检查这些文件是否存在，避免一些抽象人满地撒ra3.exe让FasterRunner误解不正确的地址是正确的游戏 按;分隔 -->
		
	</appSettings>
</configuration>